<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  var host = "ayuda.sait.mx";
  if (host == window.location.host && window.location.protocol != "https:") {
    window.location = window.location.toString().replace(/^http:/, "https:");
  }
</script>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-68829605-2"
></script>
<script>
  if (location.hostname !== "sergio-pc") {
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-68829605-2");
  }
</script>

<!-- RAFA AQUI VAN LOS SCRIPTS -->
